<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <form action="/update_user" method="post">
        <div class="edit-user-container">
            <div><b>Edit User</b></div> 
            <div>
                <label>First Name:</label>
                <input  name="firstName" value="<%= dataUser.firstName%>"> 
            </div>
            <div>
                <label>Last Name:</label>
                <input  name="lastName" value="<%= dataUser.lastName%>">
            </div>
            <div>
                <label>Email:</label>
                <input  name="email" value="<%= dataUser.email%>">
            </div>
            <div>
                <label>Address:</label>
                <input  name="address" value="<%= dataUser.address%>">
            </div>
            <div>
                <input name="id" hidden value="<%= dataUser.id%>">
            </div>
            <div><button type="submit" class="btn-save">Save</button></div>
            
        </div>
    </form>
</body>
</html>